@import 'src/styles.scss';

$primary: map-get($ui-theme, primary);

h1 {
  font-size: 24px;
  font-weight: 600;
  color: mat-color($primary, 600);
  margin: 20px;

  small {
    display: block;
    font-size: 14px;
    line-height: 16px;
    text-transform: none;
    white-space: pre-wrap;
    font-weight: 400;
    margin: 5px 0;
    color: mat-color($primary, 600);
  }
}
