@import '../../../styles.scss';

$accent: map-get($ui-theme, accent);
$primary: map-get($ui-theme, primary);

.mat-sidenav-container::ng-deep {
  height: 100%;
  background-color: transparent;

  .mat-sidenav {
    background-color: mat-color($primary);
    max-width: 250px;
    border: none;
  }

  .mat-sidenav-content {
    margin-left: 230px !important;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .content-container {
    flex-grow: 1;
    padding: 10px 20px;
  }
}

.mat-sidenav-container.full-width::ng-deep {
  .mat-sidenav-content {
    margin-left: 64px !important;
  }
}

.spacer {
  flex: 1 1 auto;
}
