.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .mat-toolbar {
    > * {
      margin: 0 10px;
    }

    .algorithm-select-container {
      width: 200px;
    }
  }

  .graph-display {
    padding: 10px 0;
    flex-grow: 1;
  }

  .spacer {
    flex: 1 1 auto;
  }
}

